
/* styles.css (or any appropriate CSS file) */

.horizontal-list {
  display: flex;
  overflow-x: auto;
  /* white-space: nowrap; */
}

.horizontal-list ion-item {
  flex: 0 0 auto;
  width: 100%; /* Adjust the width as needed */
}

h5 {
  font-family: "Playfair Display", Arial, serif;
  font-weight: 400;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
h5:after, h5:before {
  width: 100px;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: green;
  content: '';
}
h5:before {
  width: 80px;
  height: 2px;
  bottom: -12px;
}

ion-text{
  font-size: small;
}
